In [1]:
def fact(num):
  if num == 0 or num == 1:
    return 1
  else:
    return num * fact(num-1)
fact(5)

120

In [2]:
def fibo(num):
  if num == 0 or num == 1 :
    return num
  else:
    return fibo(num-1)+fibo(num-2)
fibo(5)

5

In [3]:
def printlist(arr,i):
  if i<len(arr):
    print(arr[i])
    printlist(arr,i+1)
printlist([1,2,5,6,8,9],0)

1
2
5
6
8
9

In [4]:
def powerN(val,n):
  if n==0:
    return 1
  else:
    return val*powerN(val,n-1)
powerN(3, 2)

9

In [5]:
#a)Implement a recursive algorithm that takes a decimal number n and converts n to its corresponding (you may return as a string) binary number.
def convert(num):
  if num//2==0:
    return 1
  else:
    return str(convert(int((num/2))))+str(num%2)
convert(123123)

'11110000011110011'

In [6]:
class Node:
  def __init__(self,val,nxt):
    self.val=val
    self.nxt=nxt
class linkedlist:
  def __init__(self,a):
    self.head=None
    tail=None
    for i in range(len(a)):
      n=Node(a[i],None)
      if self.head==None:
        self.head=n
        tail=n
      else:
        tail.nxt=n
        tail=n
def sum(head):
  if head.nxt==None:
    return head.val
  else:
    return head.val+sum(head.nxt)
a=linkedlist([1,2,3,4,5,6])
sum(a.head)

21

In [7]:
class Node:
  def __init__(self,val,nxt):
    self.val=val
    self.nxt=nxt
class linkedlist:
  def __init__(self,a):
    self.head=None
    tail=None
    for i in range(len(a)):
      n=Node(a[i],None)
      if self.head==None:
        self.head=n
        tail=n
      else:
        tail.nxt=n
        tail=n
def reverse(head):
  if head.nxt==None:
    print(head.val)
  else:
    reverse(head.nxt)
    print(head.val)
a=linkedlist([10,20,30,40])
reverse(a.head)

40
30
20
10

In [8]:
def hocBuilder(height):
  if height == 0:
    return 0
  if height == 1:
    return 8
  else:
    return 5 + hocBuilder(height-1)
hocBuilder(3)

18

In [9]:
def printtill(val):
  if val == 1:
    return 1
  else:
    return f'{printtill(val-1)} {val}'
def lefttri(num):
  if num == 0:
    return 0
  else:   
    lefttri(num-1)
    print(printtill(num)) 
num = int(input("Enter num: "))
lefttri(num)

Enter num: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
def lines(height):
  if height<1:
    return 0
  else:
    print(' ',end=' ')
    lines(height-1)
def link(height,idx):
  if height<1:
    return 0
  else:
    print(idx+1,end=' ')
    link(height-1,idx+1)
def pattern(line,idx):
  if line<1:
    return 0
  else:
    lines(line-1)
    link(idx-line+1,0)
    print()
    pattern(line-1,idx)
pattern(5,5)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [11]:
class FinalQ: 
  def print(self,array,idx): 
    if(idx<len(array)): 
      var = self.calcProfit(array[idx])
      print(f'{idx+1}. Investment: {array[idx]},: Profit: {var}')
      self.print(array,idx+1)
  def calcProfit(self,investment):
    if investment<=25000:
      return 0
    elif investment%1000!=0:
      return self.calcProfit(investment - 100) + 4.5
    elif investment<=100000:
      return self.calcProfit(investment - 1000) + 45.0
    elif investment>100000:
      var=80.0+self.calcProfit(investment-1000)
      return var 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

1. Investment: 25000,: Profit: 0
2. Investment: 100000,: Profit: 3375.0
3. Investment: 250000,: Profit: 15375.0
4. Investment: 350000,: Profit: 23375.0

In [12]:
def flattenlist(given,out):
  if len(given)==0:
    return out
  if type(given[0])==list:
    flattenlist(given[0],out)
    return flattenlist(given[1:],out)
  else:
    out.append(given[0])
    return flattenlist(given[1:],out)
given=[1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output = flattenlist(given, [])
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]